{% extends 'base-account.html.twig' %}

    {% block content %}
        <div class="container-fluid">
            <h1 class="mt-4">Рабочий стол</h1>
            <div class="row">
                <div class="col-xl-8 border-right">
                    {% if app.user.subscribe.code == 'free' %}
                        <div class="alert alert-success user-subscribe-expire-time" role="alert">
                            Подписка FREE
                        </div>
                    {% elseif subscribe_expires_till_string is not null %}
                        <div class="alert {% if subscribe_is_expired %} alert-danger {% else %} alert-warning {% endif %} user-subscribe-expire-time" role="alert">
                            {{ subscribe_expires_till_string }}
                        </div>
                    {% endif %}
                    <div class="card-columns dashboard">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ user_articles | length }}</h5>
                                <p class="card-text">Всего статей создано.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ user_last_month_articles | length }}</h5>
                                <p class="card-text">Создано в этом месяце.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title user-subscribe-code">{{ app.user.subscribe.code | upper }}</h5>
                                <p class="card-text">Ваш уровень подписки.</p>
                                {% if (subscribe_code is not null) %}
                                    <a
                                            href="javascript:void(0)"
                                            class="btn btn-block btn-primary update-user-subscribe"
                                            data-bs-toggle="modal"
                                            data-bs-target="#issueSubscribeModal"
                                            data-subscribe="{{ subscribe_code }}"
                                    >Улучшить</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Создать статью</h5>
                                <a href="{{ path('app_account_article_create') }}" class="btn btn-primary">Создать</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Почему квадрат не круглый?</h5>
                                <p class="card-text">При генерации контента <b>круг</b> статьи, вы можете наполнить его нужными словами <b>круг</b> для вашего бизнеса. Столько <b>круг</b> сколько <b>круг</b> нужно. Хоть все ими <b>круг</b> <b>круг</b> <b>круг</b> заполоните!.</p>
                                <a href="{{ path('app_account_modules') }}" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="issueSubscribeModal" tabindex="-1" role="dialog" aria-labelledby="issueSubscribeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="issueSubscribeModalLabel">Оформление подписки</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Оформить новую подписку?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" id="issue-subscribe">Оформить</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

