{% extends 'base-account.html.twig' %}

{% block content %}
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <section>

                <h1 class="mt-4">Ваши модули</h1>

                {% if app.session.flashBag.peek('error')|length > 0 %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if app.session.flashBag.peek('flash_message')|length > 0 %}
                    {% for message in app.flashes('flash_message') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if app.session.flashBag.peek('delete_module_message')|length > 0 %}
                    {% for message in app.flashes('delete_module_message') %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Модуль</th>
                        <th scope="col">Контент</th>
                        <th scope="col">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for module in pagination %}
                    <tr>
                        <th scope="row">{{ module.id }}</th>
                        <td>{{ module.title }}</td>
                        <td>
                          <pre class="code">
                            {{ module.content }}
                          </pre>
                        </td>
                        <td>
                            <a href="#" class="text-danger module-delete-btn" data-module_id="{{ module.id }}" data-bs-toggle="modal" data-bs-target="#deleteModuleModal"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>

                {{ knp_pagination_render(pagination) }}

            </section>

            <hr>

            <section class="py-4">

                <h1 class="mt-4">Добавить модуль</h1>

                <div class="row">

                    <div class="col-xl-6">
                        <form method="POST" action="{{ path('app_module_add') }}">
                            <div class="form-group">
                                <label for="articleTitle">Название модуля</label>
                                <input type="text" id="articleTitle" name="title" class="form-control" placeholder="Название статьи"  autofocus>
                            </div>
                            <div class="form-group">
                                <label for="articleWord">Код модуля</label>
                                <textarea id="articleWord" class="form-control" name="content" ></textarea>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Добавить</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModuleModal" tabindex="-1" role="dialog" aria-labelledby="deleteModuleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModuleModalLabel">Удаление модуля</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Удалить модуль?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <form action="{{ path('app_module_remove') }}" method="post">
                        <input type="hidden" id="moduleDeleteInput" name="module_id" value="">
                        <button type="submit" class="btn btn-primary" id="issue-subscribe">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}